.contactContainer{
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    flex-direction: column;
    
    .contact {
        margin-left: 100px;
        a{
            text-decoration: none;
            padding: 5px 10px 5px 10px;
            display: flex;
            cursor: pointer;
    
            svg {
                font-size: 32px;
            }
            span {
                font-size: 24px;
                margin-left: 10px;
            }
            &:hover {
                span{
                    color: #fff;
                }
                svg {
                    fill: #fff;
                }
                
            }
        }
       
    }
}